@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Nunito:wght@400;700;900&family=Poppins:wght@300;400;600;700&display=swap');

// variables
$rosa: #D9376E;
$negro: #0D0D0D;
$naranja: #FF8E3C;
$blanco: #FFFFFE;
$gris: #EFF0F3;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-transition: all .1s linear;
    transition: all .1s linear;
    
}

body {
    font-family: 'Poppins', sans-serif!important;
    background-color: $blanco;
}

p {
    line-height: 2;
}

h2 {
    font-size: 20px;
}

.button {
    text-decoration: none;
    padding: 15px 30px;
    text-transform: uppercase;
    background-color: #241c1c;
    color: white;
    border: none;
    border-radius: 5px!important;
    font-size: 15px;
    text-transform: uppercase!important;
    cursor: pointer;

    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    
    
}

.button:hover {
    background-color: #423333;
    color: white;
}

.button-img {
    width: 30px!important;
    height: 30px!important;
}


// Header

.background-image {
    height: 100vh;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}


nav  {
    display: flex;
    justify-content: space-between;
    min-height: 100px;
    align-items: center;
    padding: 0 30px;
}

// Header
header {
    .header-desc {
        line-height: 1.5;
        letter-spacing: 1px;
        color: $negro;
        width: 400px;
    }
}



h4 {
    font-size: 15px;
    padding: 0;
    margin: 0!important;
}

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

li {
    list-style: none;
    display: inline;
   
    a {
        text-decoration: none;
        color: black;
    }
}


//  SOBRE MI

.sobremi {

    padding-top: 100px;

    h2 {
        letter-spacing: 2px;
    }

    h2:before {
        border-bottom: 1px solid red;
    }

    p {
        font-size: 20px;
        letter-spacing: 0.5px;
        // padding: 5px 0px;
        line-height: 1.7;
    }

    img {
        width: 400px;
        height: auto;
    }

    .sobremi-redes {
        i {
            font-size: 30px;
            margin-right: 10px;
            color: $rosa;
            margin-bottom: 20px;
            
        }

        i:hover {
            color: darken($rosa, $amount: 20);
        }
    }

    .button {
        background-color: $rosa;

        i {
            color: $blanco;
            margin-left: 3px;
        }
    }

    .button:hover {
        background-color: darken($rosa, $amount: 20);


    }

    img {
        width: 400px!important;
        height: auto!important;
        box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
        border-radius: 20px;
       
    }
}



// SKILLS
.skills {
    background-color: $naranja;
    padding-top: 100px;

    img {
        width: 100px!important;
        height: auto;
    }

    h2 {
        color: $gris;
    }
}

main {
    background-color: $naranja;

    h2 {
        letter-spacing: 2px;
        color: $gris;
    }
}

// servicios.
.background-color-servicios {
    background-color: $naranja;
}

.servicios {

    h2 {
        color: $gris;
    }

    .servicios-content {
        flex-direction: column;
        margin-top: 15px;
        box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
        border-radius: 5px;
        gap: 20px;
        align-items: center;
        background-color: $blanco;

        i {
            
            margin-top: 50px;
            margin-bottom: 20px;
            color: $naranja;
            font-size: 20px;
            box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
        }

        .servicios-content-p {
            font-size: 12px;
            padding: 10px 15px;
            color: $negro;
            margin-top: 10px;
        }

        .servicios-content-titulo {
            color: $naranja;
        }


        
    }

    
}
