@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Nunito:wght@400;700;900&family=Poppins:wght@300;400;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-transition: all .1s linear;
  transition: all .1s linear;
}

body {
  font-family: "Poppins", sans-serif !important;
  background-color: #FFFFFE;
}

p {
  line-height: 2;
}

h2 {
  font-size: 20px;
}

.button {
  text-decoration: none;
  padding: 15px 30px;
  text-transform: uppercase;
  background-color: #241c1c;
  color: white;
  border: none;
  border-radius: 5px !important;
  font-size: 15px;
  text-transform: uppercase !important;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.button:hover {
  background-color: #423333;
  color: white;
}

.button-img {
  width: 30px !important;
  height: 30px !important;
}

.background-image {
  height: 100vh;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

nav {
  display: flex;
  justify-content: space-between;
  min-height: 100px;
  align-items: center;
  padding: 0 30px;
}

header .header-desc {
  line-height: 1.5;
  letter-spacing: 1px;
  color: #0D0D0D;
  width: 400px;
}

h4 {
  font-size: 15px;
  padding: 0;
  margin: 0 !important;
}

ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

li {
  list-style: none;
  display: inline;
}

li a {
  text-decoration: none;
  color: black;
}

.sobremi {
  padding-top: 100px;
}

.sobremi h2 {
  letter-spacing: 2px;
}

.sobremi h2:before {
  border-bottom: 1px solid red;
}

.sobremi p {
  font-size: 20px;
  letter-spacing: 0.5px;
  line-height: 1.7;
}

.sobremi img {
  width: 400px;
  height: auto;
}

.sobremi .sobremi-redes i {
  font-size: 30px;
  margin-right: 10px;
  color: #D9376E;
  margin-bottom: 20px;
}

.sobremi .sobremi-redes i:hover {
  color: #8f1b42;
}

.sobremi .button {
  background-color: #D9376E;
}

.sobremi .button i {
  color: #FFFFFE;
  margin-left: 3px;
}

.sobremi .button:hover {
  background-color: #8f1b42;
}

.sobremi img {
  width: 400px !important;
  height: auto !important;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  border-radius: 20px;
}

.skills {
  background-color: #FF8E3C;
  padding-top: 100px;
}

.skills img {
  width: 100px !important;
  height: auto;
}

.skills h2 {
  color: #EFF0F3;
}

main {
  background-color: #FF8E3C;
}

main h2 {
  letter-spacing: 2px;
  color: #EFF0F3;
}

.background-color-servicios {
  background-color: #FF8E3C;
}

.servicios h2 {
  color: #EFF0F3;
}

.servicios .servicios-content {
  flex-direction: column;
  margin-top: 15px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  border-radius: 5px;
  gap: 20px;
  align-items: center;
  background-color: #FFFFFE;
}

.servicios .servicios-content i {
  margin-top: 50px;
  margin-bottom: 20px;
  color: #FF8E3C;
  font-size: 20px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.servicios .servicios-content .servicios-content-p {
  font-size: 12px;
  padding: 10px 15px;
  color: #0D0D0D;
  margin-top: 10px;
}

.servicios .servicios-content .servicios-content-titulo {
  color: #FF8E3C;
}
